<!-- hamburger navigation switch-->
<div class="header__switchs">
  <button class="header__switch header__switch--hamburger js-hamburger">&#9776;</button>
  <button class="header__switch header__switch--cross js-cross">&#735;</button>
</div>

<!-- navigation for pc browser sizes -->
<nav class="header__nav">
  <ul class="header__nav__items">
    <li class="header__nav__item"><a href="./timetable.html">Time Table</a></li>
    <li class="header__nav__item"><a href="./staff.html">Staff</a></li>
    <li class="header__nav__item"><a href="./coc.html">CoC</a></li>
    <li class="header__nav__item"><a href="https://twitter.com/Fukuoka_RK" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  </ul>
</nav>

<!-- navigation for mobile browser sizes -->
<nav class="header__hamburger-nav js-nav">
  <ul class="header__hamburger-nav__items">
    <li class="header__hamburger-nav__item"><a href="./timetable.html">Time Table</a></li>
    <li class="header__hamburger-nav__item"><a href="./staff.html">Staff</a></li>
    <li class="header__hamburger-nav__item"><a href="./coc.html">CoC</a></li>
    <li class="header__hamburger-nav__item"><a href="https://twitter.com/Fukuoka_RK" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  </ul>
</nav>
