<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if site.favicon %}
  <link rel="shortcut icon" href="{{ site.github_url }}/favicon.ico">
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ site.github_url }}assets/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.github_url }}assets/css/style.css" />
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
</head>
<body class="{{ page.layout }}">
  <div>
    {% include header.html %}
    <main class="wrapper" role="main">
    {{ content }}
    </div>
  </div>
  {% include footer.html %}
  <script type="text/javascript" src="{{ site.github_url }}assets/js/index.js"></script>
  {% include analytics.html %}
</body>
</html>
